app = "pythonsozluk"

[env]
  PYTHONUNBUFFERED = "1"

[build]
  builder = "paketobuildpacks"

[[services]]
  http_checks = []
  internal_port = 8000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    timeout = "2s"

[processes]
  app = "uvicorn app:app --host 0.0.0.0 --port 8000"
